<!DOCTYPE html>
<html>
<head>
  <title>Transcrição</title>
</head>
<body>
  <div>
    <% transcriptContent.split('\n').forEach(function(line) { %>
      <p><%= line %></p>
    <% }); %>
  </div>
</body>
</html>
